@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
    

  body {
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url("https://img.freepik.com/vetores-premium/padrao-de-jogo-perfeito_118813-11742.jpg");
      margin: 0px
  }
  header {
      padding: 32px;
      border-bottom: 1px solid rgb(7, 38, 79);
      background-color: rgb(194, 21, 221);
  }
  header div a {
      color: white; 
      font-size: 20px; 
      line-height: 30px; 
      margin: 0 16px; 
      text-decoration: none;
      font-family: "VT323", monospace;
  }
  header div a:hover {
      color:rgb(208, 230, 10);
      transition: color 700ms;
  }
  header div h1 {
    color: white; 
      font-size: 50px; 
      line-height: 30px; 
      margin: 0 16px; 
      text-decoration: none;
      font-family: "VT323", monospace;
      text-align: center;
  }
header div h5{
    color: white; 
      font-size: 25px; 
      line-height: 30px; 
      margin: 0 16px; 
      text-decoration: none;
      font-family: "VT323", monospace;
      text-align: center;
}
 
