 HEAD
*{
    margin: 0;
      

   
  }
  body {
      background-color: beige
  }
  header {
      padding: 32px;
      border-bottom: 1px solid rgb(25, 99, 197);
      background-color: cadetblue;
  }
  header div {
      text-align: center; 
  }
  header div a {
      color: white; 
      font-size: 20px; 
      line-height: 30px; 
      margin: 0 16px; 
      text-decoration: none; 
      font-family: 'Anta', sans-serif; 
  }
  header div a:hover {
      color:rgb(216, 18, 35);
      transition: color 700ms;
  }

        *{
          margin: 0;
            

         
        }
        body {
            background-color: beige
        }
        header {
            padding: 32px;
            border-bottom: 1px solid rgb(25, 99, 197);
            background-color: cadetblue;
        }
        header div {
            text-align: center; 
        }
        header div a {
            color: white; 
            font-size: 20px; 
            line-height: 30px; 
            margin: 0 16px; 
            text-decoration: none; 
            font-family: 'Anta', sans-serif; 
        }
        header div a:hover {
            color:rgb(216, 18, 35);
            transition: color 700ms;
        }
