@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
    

  body {
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url(https://i.pinimg.com/originals/d0/e0/e2/d0e0e259bf0aba4da742bedff1d4b8a5.gif);
      margin: 0px;
      text-decoration: none;
      font-family: "VT323", monospace;
  }
  header {
      padding: 50px;
      border-bottom: 1px solid rgb(7, 38, 79);
      background-color: rgb(194, 21, 221);
      margin: 0px;
  }
  header div {
    text-align: center; 
  }
  header div a {
      color: white; 
      font-size: 40px; 
      line-height: 30px; 
      margin: 0 16px; 
      text-decoration: none;
      font-family: "VT323", monospace;
     
  }
  header div a:hover {
      color:rgb(208, 230, 10);
      transition: color 700ms;
  }
  body div a:hover {
    color:rgb(208, 230, 10);
      transition: color 700ms;
    
  }

 
